apiVersion: apps/v1
kind: Deployment

metadata: 
  # metadata of deployment
  name: myapp-deployment
  labels:
    app: myapp
    type: front-end
spec:
  template:
    # metadata of pod
    metadata:
      name: myapp-pod
      labels:
        app: myapp
        type: front-end
    spec:
      containers:
      - name: nginx-container
        image: nginx
  replicas: 3
  selector:
    matchLabels:
      type: front-end
